.footerSection {
 
  flex-shrink: 0;
  background: #171e27;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 10rem;
}
table {
  width: 70rem;
  margin-top: 3rem;
  /* border:solid black; */
}
thead {
  color: #f6f6f6;
  /* font-family: Gilroy; */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6875rem; /* 150% */
  letter-spacing: -0.01788rem;
  border:solid palevioletred;
}
tbody {
  color: #d9d9d9;
  /* font-family: Gilroy; */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6875rem; /* 150% */
  letter-spacing: -0.01788rem;
  
}
.googleLogo {
  position: relative;
}
.googleLogo img {
  position: absolute;
}

.social p {
  
  display: flex;
  width: 8.58331rem;
  height: 2.00963rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #d9d9d9;
 

  line-height: 2.375rem; 
  letter-spacing: -0.01788rem;
 
}
.social div {
  display: flex;
  width: 16rem;
  justify-content: space-between;
  align-items: center;
}
.footerText {
 
 
  height: 16.21581rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
  color: #d9d9d9;
  /* font-family: Gilroy; */
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.125rem; /* 112.5% */
  letter-spacing: -0.01788rem;
  /* border:solid red; */
  margin-top: 40px;

}
