
.frame2{
  
  height:600px;
  overflow: hidden;
}
.box1-h{
    color: #F3A61D;
   
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}
.box1-f{
    font-size: 40px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: normal;
    margin-top: -30px;
}
.frame2-box{
    display:flex;
    justify-content:space-around;
   
}
.smalldiv1 {
    display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: flex-start; /* Align items to the start of the container */
  align-items: flex-start;

   
    
}

.smalldiv2{
    display: flex;
    flex-direction: column; /* Align items vertically */
   
    align-items: flex-start;
  
}
.box1-e{
    
font-size: 30px;
margin-top: -8px;
}
.box1-w{
    font-size: 30px; 
    margin-top: -20px;
} 
.box1-w scan {
color: #28B570;
}
.box2-d,.box2-a {
    margin-top: -18px;
}
/* .box2-l {
    margin-top: 28px;
} */
.box2{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    margin-left: -300px;
    margin-top: 30px;
}
.box2>p{
    text-decoration: underline;
    font-size: 18px;
}
.box2>button{
    width: 128px;
    height: 45px;
 
    font-size: 18px;
    border:#F3A61D;
    border-radius: 35px;
background: linear-gradient(99deg, #FEC826 0%, #F3A61D 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box3-1 {
    border-radius: 50px;
    width: 290.82px;
height: 400.526px;
transform: rotate(-14.407deg);
flex-shrink: 0;
background: linear-gradient(138deg, #74DB96 0%, #1DF5F4 99.91%);
 margin-top: 95px; 
 margin-right: -100px;

  }

  .box3-1 >div{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
     margin-left: 20px;
     margin-top: 20px;
     
     
  }
 
  .box3-1 >div >img{
    transform: rotate(14.204deg);
    width:75px;
    height:85px
    
  }
  .box3-1 >div >h1{
    margin-top: -8px;
    margin-left: 10px;
    font-size: 35px;
  }
  .box3-2 {
    border-radius: 50px;
    width: 290.82px;
height: 400.526px;
transform: rotate(2.739deg);
flex-shrink: 0;

background: linear-gradient(337deg, #C0CEED 0%, #CDBFD3 7.81%, #D100CE 31.77%, #FC583D 44.27%, #E5CCD1 71.35%, #FDD8D0 78.13%, #FA8A77 99.91%);

  }

  .box3-2 >div{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
     margin-left: 20px;
     margin-top: 20px;
     
 
  }
  .box3-2 >div >img{
    transform: rotate(14.204deg);
    width:75px;
    height:85px
    
  }
  .box3-2 >div >h1{
    margin-top: -8px;
    margin-left: 10px;
    font-size: 35px;
  }

  
  .box3-3 {
  
    width: 290.82px;
height: 400.526px;
transform: rotate(25.199deg);
flex-shrink: 0;
border-radius: 50px;
margin-top: 85px; 
margin-left: -100px;
background: linear-gradient(85deg, #FEC974 0%, #FA8A77 99.91%);

  }

  .box3-3 >div{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
     margin-left: 20px;
     margin-top: 20px;
     
    
  }
  .box3-3 >div >img{
    transform: rotate(14.204deg);
    width:75px;
    height:85px
    
  }
  .box3-3 >div >h1{
    margin-top: -8px;
    margin-left: 10px;
    font-size: 35px;
  }
  /* /////////////////////////////// */
.frame3{
  display: flex;
  justify-content: space-around;
  margin:100px;
}
  .frame3-box1{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

  }
 
  .div1{
    display: flex;
    justify-content: space-evenly;
    gap:40px;
    margin-top: 30px;
  }
  .div1 > button{
    width: 128px;
    height: 45px;
 
    font-size: 18px;
    border:#F3A61D;
    border-radius: 35px;
background: linear-gradient(99deg, #FEC826 0%, #F3A61D 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .div1 > p{
    text-decoration: underline;
    font-size: 18px;
   
  }
 
  .frame3-box1 > h4{
    color:#28B570;
    font-size: 18px;
    }
    .frame3-box1 > h1{
    margin-top: -10px;
    }
    #invest{
      margin-top: -20px;
    }
    .frame3-box1 > h3{
      color:#777;
      font-size: 21px;
    }
    #invest1{
      margin-top: -3px;
    }
    #invest2{
      margin-top: -18px;
    }

    .frame3-box2{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      
    }
    .frame3-box2 div{
     background-color: #F3F3F3;
     border-radius: 40px;
     width:194px;
     height:194px;
     margin:20px;
     display: flex;
      flex-direction: column;
      align-items: center;
    }

    .frame3-box2 img{
      width:70px;
      height:73px
    }

    .frame3-box2 h3{
     color:    #979797;
    }
    .frame3-box2 p{
      color:    #979797;
      width:150px;
      margin-top: -5px;
      
    }
    #blackdiv{
      background-color: #171E27;
      width:210px;
      height:210px;
      
     
    }
    #blackdiv >h3{
      color:white;
    }
    #blackdiv >p{
      color:white;
      margin-top: -15px;
    }
    #blackdiv >img{
      width:130px;
      height:110px;
      margin-top: -15px;
    }

    /* ///////////////////////////// */

    .frame4{
      
      background: #171E27;
      border-radius: 100px;
     width:1150px;
     height:430px;
     margin: 100px;
    
    }
    .frame4-box1{
      display: flex;
      justify-content: space-around;
      /* margin:60px; */
    }
    .firstbox{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border:solid #28B570;
     margin-left: 50px;
    
  
    }
    #firstbox-c{
      margin-top: -5px;
    }
    #firstbox-n{
    margin-top: -25px;
    }
    #firstbox-b{
    margin-top: -22px;
    }
    .firstbox>button{
      width: 170px;
    height: 42px;
 
    font-size: 18px;
    border:#F3A61D;
    border-radius: 35px;
background: linear-gradient(99deg, #FEC826 0%, #F3A61D 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .frame4-box1 h1{
      color:white;
      font-size: 40px;
    }
    .frame4-box1 h3{
     color:#CECECE;
     font-size: 22px;
    }
    .secondbox >img{
      width:450px;
      height: 250px ;
    }