.nav2Section {
  width: 100rem;

  background: #fff;
  margin: 0 auto;
}
.nav2 {
  width: 84rem;
  height: 7.5rem;
  flex-shrink: 0;
  background: #171e27;
  display: flex;
  justify-content: space-between;
  margin-top: -2px;
}
.logoSection {
  display: flex;
  align-items: center;
}
.gatewayButton {
  width: 11.125rem;
  height: 3.5625rem;
  flex-shrink: 0;
  border-radius: 2.1875rem;
  background: #fdecec;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gatewayButton button {
  color: #f05656;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
}

.navLinks {
  display: flex;
  gap: 5rem;
}
.navLinkProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navLink {
  color: #fff;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
