.card {
  width: 15.125rem;
  height: 14.9375rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: #222529;
  padding: 1rem;
}
.cardTitle {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 2.9375rem;
  flex-shrink: 0;
  border: 0.5px solid gray;
  border-radius: 0.625rem;
  /* background: #171e27; */
  box-shadow: 4px 4px 4px 0px rgba(91, 87, 87, 0.25) inset;
}
.logo img {
  width: 2.5625rem;
  height: 2.83438rem;
  flex-shrink: 0;
}
.cardTitle p {
  width: 8.8125rem;
  height: 2.00519rem;
  flex-shrink: 0;
  color: #fff;
  /* font-family: Gilroy; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1rem;
}
.cardText {
  display: flex;
  width: 15.9375rem;
  height: 3.81344rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #d9d9d9;
  /* font-family: Gilroy; */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 0.5rem;
}
.cagr_amount {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  padding-top: 1rem;
  
  margin-top: -20px;
}
.cagr_amount div p:first-child {
  color: var(--text-2, #bebebe);
  /* font-family: Gilroy; */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cagr_amount div p:nth-child(2) {
  color: var(--text-2, #d9d9d9);
  /* font-family: Gilroy; */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 2px;
}
